@media (min-width: 700px) {
	.headerBtn {
		display: none;
	}	
}
.headerBtn {
	position: absolute;
    font-size: .8em;
    line-height: 3.6em;
	cursor: pointer;
}

.headerBtn.cancelAddBtn {
	left: 30px;
}

.headerBtn.saveAddBtn {
	right: 30px;
}

@media (max-width: 699px) {
	.dialogBtn {
		display: none;
	}
}

.dialogBtn {
	text-align: right;
	margin-top: 15px;
}	

.dialogBtn .cancelAddBtn {
	display: inline-block;
	margin-right: 20px;
	cursor: pointer;
}

.dialogBtn .saveAddBtn {
	display: inline-block;
	cursor: pointer;
}

.addDialog {
		position: absolute;
		top: 3em;
		margin-left: calc(50% - 165px);
		margin-top: 50px;
		padding: 0 15px 15px;
		width: 300px;
	}

@media (min-width: 400px) {
	.addDialog {
		border: 1px solid #aaa;
	}
}

.label {
	color: #777;
	font-size: .9em;
	margin-bottom: 5px;
	margin-top: 15px;
}

#categoryPicker {
	width: 270px;
	height: 35px;
}

.addCatBtn {
	display: block;
    cursor: pointer;
    width: 18px;
    margin-top: 8px;
    float: right;
}

.rotate {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	float: left;
	margin-right: 12px;
}

#newCatName {
	height: 31px;
	padding: 0 5px;
	width: 50%;
}

#newCatColor {
	height: 35px;
    width: 30%;
}

#eventDate, #eventTime {
	padding: 0 5px;
	height: 31px;
}