.canvasContainer {
	position: absolute;
	top: 50px;
	width: 100%;
	overflow-x: hidden;
	text-align: center;
	margin-top: 15px;
}

.canvasButtons {
	width: 100%;
	text-align: center;
	cursor: pointer;
}

.canvasButton {
	display: inline-block;
}

.listContainer {
	position: absolute;
    top: 295px;
    width: 100%;
    max-height: calc(100% - 295px - 50px);
    overflow-y: auto;
}

#eventList {
	padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
    width: 100%;
    z-index: 100;
    background-color: #3f3f3f;
}

.eventItem {
    padding: 15px;
    margin-bottom: 10px;
	color: white;
}