
/* ----------------------------------------------
 * ---------     Shared styles.     -------------
 * ----------------------------------------------
 */
.red {
	background-color: #F44336;
}

.orange {
	background-color: #FF9800;
}

.yellow {
	background-color: #795548;
}

.green {
	background-color: #4CAF50;
}

.blue {
	background-color: #00BCD4;
}

.purple {
	background-color: #9C27B0;
}

.whiteText {
	color: white;
}	

.hidden {
	display: none;
}	

.addBtn {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1000;
}


/* ----------------------------------------------
 * ---------     Login styles     --------------
 * ----------------------------------------------
 */
#loginForm {
	width: 300px;
	margin-left: calc(50% - 150px);
	padding: 15px;
	top: 3em;
}

 #loginForm div {
	display: block;
 }
 
 #loginForm .newUserFields  div {
	display: inline-block;
	width: 120px;
 }
 
 .newUserFields div:last-child {
	margin-left: 20px;
 }
 
 #loginError {
	width: 100%;
    text-align: center;
    margin-bottom: 10px;
    color: #de3226;
 }
 
 .loginBtnContainer {
	text-align: center;
 }
 
 .loginBtn {
	display: inline;
 }
 
 .loginBtn:last-child {
	 margin-top: 15px;
 }


/* ----------------------------------------------
 * ---------     Category styles     ------------
 * ----------------------------------------------
 */
.categoryItem {
	cursor: pointer;
	font-size: 16px;
}

@media (max-width: 699px) {
	.categoryItem {
		margin-bottom: 5px;
		width: 100%;
		padding: 5px 0;
	}
	
	#categoryList {
		padding: 0;
		margin-top: 5px;
		margin-bottom: 90px;
	}
}

@media (min-width: 700px) {
	.categoryItem {
	    width: 180px;
		height: 180px;
		float: left;
		margin-left: 10px;
		margin-bottom: 10px;
	}
	
	#categoryList {
		padding: 0;
		margin-top: 10px;
		margin-bottom: 90px;
		float: left;
	}
}


/* ----------------------------------------------
 * ---------     Detail styles     --------------
 * ----------------------------------------------
 */

#backBtn {
	cursor: pointer;
	margin-top: 4px;
}

.dashboardCard {
	margin-top: 20px;
	margin-left: 20px;
	float: left;
}

.dashboardCard:last-child {
	margin-bottom: 90px;
}

.canvasTitle {
	border-bottom: 1px solid #ccc;
}

#eventList {
	list-style-type: none;
    padding: 0;
    margin: 0;
}

.eventItem {
	color: white;
    padding: 20px;
    margin-top: 10px;
}

.eventItem:last-child {
	margin-bottom: 90px;
}


/* ----------------------------------------------
 * -----------     Add styles     ---------------
 * ----------------------------------------------
 */
 .addDialog {
	width: 300px;
	margin-top: 20px;
	margin-left: calc(50% - 150px);
 }
 
 .addDialog input {
	height: 32px;
    width: 250px;
	padding: 0 5px;
 }
 
 #categoryPicker {
	height: 32px;
	width: 234px;
	padding: 0 5px;
 }
 
 #newCatName {
	width: 214px;
 }
 
 #newCatColor {
	width: 264px;
    height: 32px;
    margin-top: 5px;
 }
 
 .addDialog .label {
	margin-top: 20px;
	margin-bottom: 5px;
 }
 
 .addDialog .label:first-child {
	margin-top: 0;
 }
 
 .dialogBtn {
	 text-align: center;
 }