
/* ----------------------------------------------
 * ---------     Shared styles.     -------------
 * ----------------------------------------------
 */
.red {
	background-color: #F44336;
}

.orange {
	background-color: #FF9800;
}

.brown {
	background-color: #795548;
}

.green {
	background-color: #4CAF50;
}

.blue {
	background-color: #00BCD4;
}

.purple {
	background-color: #9C27B0;
}

.whiteText {
	color: white;
}	

.hidden {
	display: none;
}	

.addBtn {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1000;
}

.centerText {
	text-align: center;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}
 
@-webkit-keyframes spinner {
    to {-webkit-transform: rotate(360deg);}
}
 
.spinner {
	margin-left: calc(50% - 14px);
    margin-top: 50%;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	border: 4px solid rgba(0, 0, 0, .3);
	border-top-color: rgba(0, 0, 0, .6);
	animation: spinner .8s linear infinite;
    -webkit-animation: spinner .8s linear infinite;
}


/* ----------------------------------------------
 * ---------     Login styles     --------------
 * ----------------------------------------------
 */
.centeredCard {
	width: 300px;
	margin-left: calc(50% - 150px);
	padding: 15px;
	margin-top: 50px;
	margin-bottom: 50px;
}
 
 #loginForm .newUserFields  div {
	display: inline-block;
	width: 120px;
 }
 
 .newUserFields div:last-child {
	margin-left: 20px;
 }
 
 #loginError {
	width: 100%;
    text-align: center;
    margin-bottom: 10px;
    color: #de3226;
 }
 
 .loginBtnContainer {
	text-align: center;
 }
 
 .loginBtn {
	display: inline;
 }
 
 .loginBtn-secondary {
	margin-top: 15px;
	font-size: 12px;
 }
 
 .staticPw {
	 display: none;
 }
 
 /* ---------------------------------------------
  * ---------     App Info styles     -----------
  * ---	  On login screen below login form   ----
  * ---------------------------------------------
  */
  
.overview {
	text-align: center;
}
  
.tagline {
	font-size: 30px;
	font-family: Roboto, Helvetica, sans-serif;
	line-height: 35px;
}

.taglineVariable {
	font-size: 30px;
	font-family: Shadows Into Light, cursive;
	border-bottom: 1px solid #000;
}

.taglineSummary {
	margin-top: 25px;
	font-size: 18px;
	color: rgba(0, 0, 0, .54);
}
  
.overviewPhoto{
	background: url(../img/Hydrangeas.jpg);
	height: 350px;
	text-align: center;
	color: white;
	font-size: 30px;
	line-height: 35px;
	font-family: Roboto, Helvetica, sans-serif;
	letter-spacing: 1px;
	width: 100%;
}

.slideshowFrame {
	height: 500px;
	margin-left: 50px;
}

.slideshowFrame img {
	height: 100%;
}

.slideshowImages {
	position: relative;
	margin-top: -416px;
	list-style-type: none;
	padding: 0;
	left: 17px;
	z-index: 1000;
	margin-left: 50px;
}

.slideshowImages img {
	width: 211px;
}

.slideshowText {
	margin-top: 100px;
	list-style-type: none;
	width: 250px;
	padding: 0;
	text-align: center;
	font-family: Roboto, Helvetica, sans-serif;
	margin-left: 50px;
}

.slideshowBtnContainer {
	height: 75px;
    width: 320px;
    top: 290px;
    position: relative;
	margin-left: 13px;
}

.slideshowBtn {
	top: 0;
    width: 10px;
    height: 75px;
	position: absolute;
	cursor: pointer;
	z-index: 1100;
}

.slideshowBackBtn {
	left: 0px;
}

.slideshowBackBtn:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 51%;
	width: 100%;
	background: #ddd;
	-webkit-transform: skew(-15deg, 0deg);
	-moz-transform: skew(-15deg, 0deg);
	-ms-transform: skew(-15deg, 0deg);
	-o-transform: skew(-15deg, 0deg);
	transform: skew(-15deg, 0deg);
}

.slideshowBackBtn:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 0;
	height: 50%;
	width: 100%;
	background: #ddd;
	-webkit-transform: skew(15deg, 0deg);
	-moz-transform: skew(15deg, 0deg);
	-ms-transform: skew(15deg, 0deg);
	-o-transform: skew(15deg, 0deg);
	transform: skew(15deg, 0deg);
}

.slideshowNextBtn {
	right: 0px;
}

.slideshowNextBtn:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 51%;
	width: 100%;
	background: #ddd;
	-webkit-transform: skew(15deg, 0deg);
	-moz-transform: skew(15deg, 0deg);
	-ms-transform: skew(15deg, 0deg);
	-o-transform: skew(15deg, 0deg);
	transform: skew(15deg, 0deg);
}

.slideshowNextBtn:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 0;
	height: 50%;
	width: 100%;
	background: #ddd;
	-webkit-transform: skew(-15deg, 0deg);
	-moz-transform: skew(-15deg, 0deg);
	-ms-transform: skew(-15deg, 0deg);
	-o-transform: skew(-15deg, 0deg);
	transform: skew(-15deg, 0deg);
}

.largeIcon {
	font-size: 100px;
}

.mdl-logo img {
	width: 35px;
}

/* ----------------------------------------------
 * ---------     Category styles     ------------
 * ----------------------------------------------
 */
.categoryItem {
	cursor: pointer;
	font-size: 16px;
}

@media (max-width: 699px) {
	.categoryItem {
		margin-bottom: 5px;
		width: 100%;
		padding: 5px 0;
	}
	
	#categoryList {
		padding: 0;
		margin-top: 5px;
		margin-bottom: 90px;
	}
}

@media (min-width: 700px) {
	.categoryItem {
	    width: 180px;
		height: 180px;
		float: left;
		margin-left: 10px;
		margin-bottom: 10px;
	}
	
	#categoryList {
		padding: 0;
		margin-top: 10px;
		margin-bottom: 90px;
		float: left;
	}
}


/* ----------------------------------------------
 * ---------     Detail styles     --------------
 * ----------------------------------------------
 */

#backBtn {
	cursor: pointer;
	margin-top: 4px;
}

.dashboardCard {
	margin-top: 20px;
	margin-left: 20px;
	float: left;
}

.dashboardCard:last-child {
	margin-bottom: 90px;
}

.canvasTitle {
	border-bottom: 1px solid #ccc;
}

#eventList {
	list-style-type: none;
    padding: 0;
    margin: 0;
}

.eventItem {
	color: white;
    padding: 20px;
    margin-top: 10px;
}

.eventItem:last-child {
	margin-bottom: 90px;
}


/* ----------------------------------------------
 * -----------     Add styles     ---------------
 * ----------------------------------------------
 */
 .addDialog {
	width: 300px;
	margin-top: 20px;
	margin-left: calc(50% - 150px);
 }
 
 .addDialog input {
	height: 32px;
    width: 250px;
	padding: 0 5px;
 }
 
 #categoryPicker {
	height: 32px;
	width: 234px;
	padding: 0 5px;
 }
 
 #newCatNameContainer {
	display: inline-block;
    width: 222px;
    margin-left: 5px;
 }
 
 #newCatName {
	width: 222px;
	padding: 0;
 }
 
 #newCatColor {
	width: 264px;
    height: 32px;
    margin-top: 5px;
 }
 
 .addDialog .label {
	margin-top: 20px;
	margin-bottom: 5px;
 }
 
 .addDialog .label:first-child {
	margin-top: 0;
 }
 
 .dialogBtn {
	 text-align: center;
 }
 
 /* ----------------------------------------------
 * ---------     Popover styles     --------------
 * -----------------------------------------------
 */
 
 .popover {
	position: absolute;
    min-height: 153px;
    margin-left: calc(50% - 150px);
    margin-top: 150px;
	z-index: 1100;
 }
 
 .popover.mdl-card {
	min-height: 153px;
	width: 300px;
 }
 
 .overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	z-index: 1000;
 }