.red {
	background-color: #F44336;
}

.orange {
	background-color: #FF9800;
}

.yellow {
	background-color: #795548;
}

.green {
	background-color: #4CAF50;
}

.blue {
	background-color: #00BCD4;
}

.purple {
	background-color: #9C27B0;
}

.whiteText {
	color: white;
}	

.hidden {
	display: none;
}	

.addBtn {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1000;
}

#categoryList {
	padding: 0;
}
.categoryItem {
	cursor: pointer;
}

@media (max-width: 699px) {
	.categoryItem {
		margin-bottom: 5px;
		width: 100%;
		padding: 5px 0;
	}
}

@media (min-width: 700px) {
	.categoryItem {
	    width: 180px;
		height: 180px;
		float: left;
		margin-left: 10px;
		margin-bottom: 10px;
	}
}

#backBtn {
	cursor: pointer;
	margin-top: 4px;
}

.dashboardCard {
	margin-top: 20px;
	margin-left: 20px;
	float: left;
}

.dashboardCard:last-child {
	margin-bottom: 90px;
}

.canvasTitle {
	border-bottom: 1px solid #ccc;
}

#eventList {
	list-style-type: none;
    padding: 0;
    margin: 0;
}

.eventItem {
	color: white;
    padding: 20px;
    margin-top: 10px;
}

.eventItem:last-child {
	margin-bottom: 90px;
}