body {
	padding: 0;
	margin: 0;
	background-color: #fff;
	font-family: Tahoma, Geneva, sans-serif;
}

.hidden {
	display: none;
}

a {
	text-decoration: none;
}	

.red {
	background-color: #D92C2C;
}

.orange {
	background-color: #EA881B;
}

.yellow {
	background-color: #F0D911;
}

.green {
	background-color: #45C137
}

.blue {
	background-color: #3693AE
}

.purple {
	background-color: #9D47C7
}

.headerBar {
	width: 100%;
    height: 3em;
    position: fixed;
    z-index: 200;
    background-color: rgba(255, 255, 255, .9);;
}

.headerTitle {
	position: absolute;
    left: 20%;
    width: 60%;
    text-align: center;
    line-height: 2.4em;
	font-size: 1.3em;
	font-weight: bold;
}

input {
	height: 2em;
}

#add {
	position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100px;
    height: 100px;
    background-color: #aaa;
    font-size: 4.5em;
    text-align: center;
	z-index: 200;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
	cursor: pointer;
}