body {
	padding: 0;
	margin: 0;
	background-color: #fff;
	font-family: Tahoma, Geneva, sans-serif;
}

.hidden {
	display: none;
}

a {
	text-decoration: none;
}	

.red {
	background-color: #D92C2C;
}

.orange {
	background-color: #EA881B;
}

.yellow {
	background-color: #F0D911;
}

.green {
	background-color: #45C137
}

.blue {
	background-color: #3693AE
}

.purple {
	background-color: #9D47C7
}

.headerBar {
	width: 100%;
    height: 3em;
    position: fixed;
    z-index: 200;
    background-color: rgba(255, 255, 255, .9);;
}

.headerTitle {
	position: absolute;
    text-align: center;
    line-height: 2.4em;
	font-size: 1.3em;
	font-weight: bold;
}

/* position the title in the center on small displays */
@media (max-width: 699px) {
	.headerTitle {
		left: 20%;
		width: 60%;
	}
}

/* position the title to the right on large displays */
@media (min-width: 700px) {
	.headerTitle {
		left: 70px;
	}
}

.logoutHeader {
	position: absolute;
    right: 50px;
    font-size: .8em;
    line-height: 3.6em;
	cursor: pointer;
}

/* hide the header logout button on small displays */
@media (max-width: 699px) {
	.logoutHeader {
		display: none;
	}
}

.backButton {
	width: 20px;
    display: inline-block;
    float: left;
    margin-top: .9em;
    margin-left: 10px;
	cursor: pointer;
}

.footerBar {
	position: fixed;
    bottom: 0px;
    width: 100%;
    height: 3em;
}

.logoutFooter {
	font-size: .8em;
    line-height: 3.8em;
    height: 3.7em;
    left: 15px;
    position: absolute;
	cursor: pointer;
}

/* hide the footer logout button on large displays */
@media (min-width: 700px) {
	.logoutFooter {
		display: none;
	}
}

input {
	height: 2em;
}

#add {
	position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100px;
    height: 100px;
    background-color: #aaa;
    font-size: 4.5em;
    text-align: center;
	z-index: 200;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
	cursor: pointer;
}