#categoryList {
	padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
    top: 3em;
    width: 100%;
    z-index: 100;
}

@media (max-width: 699px) {
	.categoryItem {
		padding: 20px;
		margin-bottom: 5px;
		font-size: 1.2em;
		color: white;
	}
}

@media (min-width: 700px) {
	.categoryItem {
	    width: 180px;
		height: 180px;
		float: left;
		margin-right: 10px;
		margin-bottom: 10px;
		font-size: 1.5em;
		padding: 20px;
		color: white;
	}
}