@media (max-width: 400px) {
	#loginForm {
		width: 300px;
		margin-left: calc(50% - 165px);
		margin-top: 50px;
		padding: 15px;
		position: absolute;
		top: 3em;
	}	
}

@media (min-width: 401px) {
	#loginForm {
		width: 300px;
		margin-left: calc(50% - 150px);
		margin-top: 50px;
		padding: 15px;
		border: 1px solid #aaa;
		position: absolute;
		top: 3em;
	}
}

.loginInput {
	display: block;
	height: 2em;
	width: 200px;
	margin-left: 50px;
	margin-bottom: 15px;
}

.button {
    width: 60px;
    height: 2.5em;
	margin-left: calc(50% - 30px);
}

#loginError {
	width: 100%;
    text-align: center;
    margin-bottom: 15px;
    color: #D02929;
}

#toggleCreateUserBtn {
	display: block;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    color: #777;
	font-size: .8em;
}	