#eventList {
	padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
    top: 3em;
    width: 100%;
    float: left;
    z-index: 100;
    margin-bottom: 3em;
    background-color: #fff;
}

.eventItem {
    padding: 15px;
    margin-bottom: 10px;
	color: white;
}