<div class='headerBar'>
	<img class='backButton' src='img/arrow.png' onclick="javascript:Events.navigate.toHome()">
	<div class='headerTitle' id="eventHeader"></div>
	<div class='logoutHeader' onclick='javascript:Events.authentication.logout()'>Sign out</div>
</div>
<div id="add">+</div>
<div class="spinner" id="spinner"></div>
<div class='canvasContainer'>
		<canvas name='stats' id='canvas1' width='300' height='200'></canvas>
		<canvas class='hidden' name='time' id='canvas2' width='300' height='200'></canvas>
		<canvas class='hidden' name='day' id='canvas3' width='300' height='200'></canvas>
		<div class='canvasButtons'>
			<div class='canvasButton backCanvasButton' onclick='javascript:Events.draw.prevCanvas()'>Back</div>
			<div class='canvasButton nextCanvasButton' onclick='javascript:Events.draw.nextCanvas()'>Next</div>
		</div>
</div>
<div class='listContainer'>
	<ul id="eventList">
	</ul>
</div>
<div class='footerBar'>
	<div class='logoutFooter toggle' onclick='javascript:Events.authentication.logout()'>Sign out</div>
	<div class='logoutFooter' onclick='javascript:Events.category.removeCategory()'>Delete category</div>
</div>