<button class="addBtn mdl-button mdl-button--fab mdl-button--accent" id="add" onclick="javascript:Events.event.addEvent()">
	<i class="material-icons">add</i>
</button>
<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect" id="detailPage">
  <div class="mdl-tabs__tab-bar">
    <a href="#stats-panel" class="mdl-tabs__tab is-active">Dashboard</a>
    <a href="#data-panel" class="mdl-tabs__tab">Data</a>
  </div>
  <div class="mdl-tabs__panel is-active" id="stats-panel">
	<div class="dashboardCard mdl-card mdl-shadow--4dp">
		<div class="canvasTitle mdl-card__title">Statistics</div>
		<div class="mdl-card__supporting-text">
			<canvas name='stats' id='canvas1' width='300' height='200'></canvas>
		</div>
	</div>
	<div class="dashboardCard mdl-card mdl-shadow--4dp">
		<div class="canvasTitle mdl-card__title">Time of Day</div>
		<div class="mdl-card__supporting-text">
			<canvas name='time' id='canvas2' width='300' height='200'></canvas>
		</div>
	</div>
	<div class="dashboardCard mdl-card mdl-shadow--4dp">
		<div class="canvasTitle mdl-card__title">Day of Week</div>
		<div class="mdl-card__supporting-text">
			<canvas name='day' id='canvas3' width='300' height='200'></canvas>
		</div>
	</div>
  </div>
  <div class="mdl-tabs__panel" id="data-panel">
    <ul id="eventList">
	</ul>
  </div>
</div>