<!--<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
	<header class="mdl-layout__header">
		<div class="mdl-layout__header-row">
			<span class="mdl-layout-title">Events</span>
		</div>
	</header>
	<!--<button id="demo-menu-lower-right"
        class="mdl-button mdl-js-button mdl-button--icon">
	  <i class="material-icons">more_vert</i>
	</button>

	<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
		for="demo-menu-lower-right">
	  <li class="mdl-menu__item">Some Action</li>
	  <li class="mdl-menu__item">Another Action</li>
	  <li disabled class="mdl-menu__item">Disabled Action</li>
	  <li class="mdl-menu__item">Yet Another Action</li>
	</ul>
</div>-->

<button class="addBtn mdl-button mdl-button--fab mdl-button--accent" id="add" onclick="javascript:Events.event.addEvent()">
	<i class="material-icons">add</i>
</button>
<div class="spinner" id="spinner"></div>
<ul id="categoryList">
</ul>

<!--<div class='footerBar'>
	<div class='logoutFooter toggle' onclick='javascript:Events.authentication.logout()'>Sign out</div>
</div>-->