<div class="centeredCard mdl-card mdl-shadow--2dp" id='loginForm'>
	<form action="#">
		<div class="loginCreate mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="loginFNameContaier">
			<input class="mdl-textfield__input" type="text" pattern="[A-Za-z]*" id="loginFName" />
			<label class="mdl-textfield__label" for="loginPw">First Name</label>
			<span class="mdl-textfield__error">Must enter a name.</span>
		</div>
		<div class="loginCreate mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="loginLNameContaier">
			<input class="mdl-textfield__input" type="text" pattern="[A-Za-z]*" id="loginLName" />
			<label class="mdl-textfield__label" for="loginPw">Last Name</label>
			<span class="mdl-textfield__error">Must enter a name.</span>
		</div>
		<div class="loginDefault loginCreate loginResetEmail mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="loginUserContaier">
			<input class="mdl-textfield__input" type="email" id="loginUser" />
			<label class="mdl-textfield__label" for="loginUser">Email</label>
			<span class="mdl-textfield__error">Must be an email.</span>
		</div>
		<div class="loginResetPassword mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input class="mdl-textfield__input" type="email" disabled id="loginStaticUser" />
		</div>
		<div class="loginResetPassword staticPw mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input class="mdl-textfield__input" type="password" disabled id="loginStaticPw" />
		</div>
		<div class="loginDefault loginCreate loginResetPassword mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="loginPassContaier">
			<input class="mdl-textfield__input" type="password" id="loginPw" />
			<label class="mdl-textfield__label" for="loginPw">Password</label>
		</div>
	</form>
	<div class='error' id='loginError'></div>
	<div class="loginBtnContainer mdl-card__actions">
		<button class="loginDefault loginBtn mdl-button mdl-js-button mdl-button--raised mdl-button--accent" id='loginBtn' onclick='javascript:Events.authentication.login()'>
		  Login
		</button>
		<button class="loginCreate loginBtn mdl-button mdl-js-button mdl-button--raised mdl-button--accent hidden"  id='signUpBtn' onclick='javascript:Events.authentication.createUser()'>
		  Sign Up
		</button>
		<button class="loginResetEmail loginBtn mdl-button mdl-js-button mdl-button--raised mdl-button--accent hidden" onclick='javascript:Events.authentication.sendPwResetEmail()'>
		  Send Reset Email
		</button>
		<button class="loginResetPassword loginBtn mdl-button mdl-js-button mdl-button--raised mdl-button--accent hidden" onclick='javascript:Events.authentication.resetPassword()'>
		  Reset Password
		</button>
		<br>
		
		<button class="loginDefault loginBtn-secondary mdl-button mdl-js-button" id='toggleCreateUserBtn' onclick="javascript:Events.navigate.toLogin('create')">
		  Create Account
		</button>
		<button class="loginCreate loginBtn-secondary loginDefaultloginBtn mdl-button mdl-js-button" id='toggleCreateUserBtn' onclick="javascript:Events.navigate.toLogin()">
		  Already have an account
		</button>
		<button class="loginDefault loginBtn-secondary loginDefaultloginBtn mdl-button mdl-js-button" id='toggleCreateUserBtn' onclick="javascript:Events.navigate.toLogin('resetEmail')">
		  Forgot Password
		</button>
		<button class="loginResetEmail loginBtn-secondary loginResetPassword loginDefaultloginBtn mdl-button mdl-js-button" id='toggleCreateUserBtn' onclick="javascript:Events.navigate.toLogin()">
		  Back to login
		</button>
	</div>
</div>

<div class='appInformation'>
	<div class='overview'>
		<div class='overviewPhoto'>
			Keep track of events in your life, big or small.
		</div>
		<p class='overviewParagraph'>
			When was the last time you got groceries? Did you have the oil changed recently? How often do you eat out? So many events happen on a regular basis that it can be challenging to remember when they all took place. Events provides a simple, easy to use way to track when these things happen.
		</p>
	</div>
	<div class='slideshowContainer'>
		<div class='slideshowBtnContainer'>
			<div class='slideshowBtn slideshowBackBtn' onclick='Events.appInformation.prevSlide()'></div>
			<div class='slideshowBtn slideshowNextBtn' onclick='Events.appInformation.nextSlide()'></div>
		</div>
		<img class='slideshowFrame' src='img/outline.PNG'>
		<ul class='slideshowImages'>
			<li><img class='slideImage slide1' src='img/slideshow/1.PNG'></li>
			<li><img class='hidden slideImage slide2' src='img/slideshow/2.PNG'></li>
			<li><img class='hidden slideImage slide3' src='img/slideshow/3.PNG'></li>
			<li><img class='hidden slideImage slide4' src='img/slideshow/4.PNG'></li>
			<li><img class='hidden slideImage slide5' src='img/slideshow/5.PNG'></li>
		</ul>
		<ul class='slideshowText'>
			<li class='slideText slideText1'>Create categories for everything you want to track.</li>
			<li class='slideText2 slideText hidden'>View statistics about the events you've recorded.</li>
			<li class='slideText3 slideText hidden'>Easily view a list of all the events in a category.</li>
			<li class='slideText4 slideText hidden'>Add new events to an existing category...</li>
			<li class='slideText5 slideText hidden'>...or create create a new category.</li>
		</ul>
	</div>
	<div class='devices'>
		<p class='overviewHeader'>Use Anywhere</p>
		<table class='devicesCardContainer'>
			<tr><td>
			<div class='phoneCard mdl-card'>
				<div class='mdl-card__title mdl-card--border'>Smartphone</div>
				<div class='mdl-card__supporting-text'><i class='deviceIcon mdl-layout-icon material-icons'>phone_iphone</i></div>
			</div></td>
			<td><div class='tabledCard mdl-card'>
				<div class='mdl-card__title mdl-card--border'>Tablet</div>
				<div class='mdl-card__supporting-text'><i class='deviceIcon mdl-layout-icon material-icons'>tablet_android</i></div>
			</div></td>
			<td><div class='computerCard mdl-card'>
				<div class='mdl-card__title mdl-card--border'>Computer</div>
				<div class='mdl-card__supporting-text'><i class='deviceIcon mdl-layout-icon material-icons'>computer</i></div>
			</div></td>
		</table>
		<p class='overviewParagraph'>Events is accessable on the web so you're free to use it from any device. Track events from home or work on your computer. Then pick up where you left off with your phone or tablet. Events will work the same on any device with a modern web browser.</p>
	</div>
	<div class='pricing'>
		<p class='overviewHeader'>Pricing</p>
		<p class='overviewParagraph'>Pricing is simple. Sign up and get 60 days totally free. If you love it, all you pay is $10 per year.</p>
	</div>
	<div class='contact'>
		<p class='overviewHeader'>Contact</p>
		<div class="centeredCard mdl-card mdl-shadow--2dp">
			<form action="#">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="contactNameContainer">
					<input class="mdl-textfield__input" type="text" pattern="[A-Za-z]*" id="contactName" />
					<label class="mdl-textfield__label" for="contactName">Your Name</label>
					<span class="mdl-textfield__error">Must enter a name.</span>
				</div>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="contactEmailContainer">
					<input class="mdl-textfield__input" type="email"  id="contactEmail" />
					<label class="mdl-textfield__label" for="contactEmail">Email Address</label>
					<span class="mdl-textfield__error">Must be an email.</span>
				</div>
				<div class="mdl-textfield mdl-js-textfield" id="contactTextContainer">
					<textarea class="mdl-textfield__input" type="text" rows= "6" id="contactText" ></textarea>
					<label class="mdl-textfield__label" for="contactText">Your message...</label>
				</div>
			</form>
			<div class="loginBtnContainer mdl-card__actions">
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" id='contactBtn' onclick=''>
				  Send
				</button>
			</div>
		</div>
	</div>
	<div class='mdl-mini-footer'>
		<div class='mdl-mini-footer__left-section'>
			<div class='mdl-logo'>
				<img src='../img/touch-icon-iphone.png'>
			</div>
		</div>
		<div class="mdl-mini-footer__right-section">
			<ul class='mdl-mini-footer__link-list'>
				<li>Copyright 2015. Events. All rights reserved.</li>
			</ul>
		</div>
	</div>
</div>